
{% extends 'base/base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block meta %} {% endblock %}
{% block content %} 
        <!-- Preloader -->
        {% comment %} <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- End Preloader -->

        <!-- Navbar -->
        {% include 'inc/navbar.html' %}
        <!-- End Navbar -->

        <!-- Page Title -->
        <div class="page-title-area page-title-area-three title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>About Our Firm and History</h2>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>About Us</li>
                        </ul>
                        <div class="page-title-btn">
                            <a href="testimonial.html">ALL CERTIFICATES
                                <i class="icofont-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Help -->
        <div class="help-area help-area-two help-area-four pb-70">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <div class="help-item help-left">
                            <img src="{% static 'assets/img/home-one/vakkil2.0.jpg' %}" alt="Help">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="help-item">
                            <div class="help-right">
                                <h2>We Provide Professional Attorneys to Assist You</h2>
                                <p>At Vakkil Shiva Law Firm in Chennai, our professional attorneys are dedicated to guiding clients with integrity, loyalty, and expertise through their toughest challenges.</p>
                                <p>We strive for client success, offering compassionate and result-driven legal support to address all your legal needs in Chennai.</p>

                                <div class="help-inner-left">
                                    <ul>
                                        <li>
                                            <i class="flaticon-checkmark"></i>
                                            Browse Our Website
                                        </li>
                                        <li>
                                            <i class="flaticon-checkmark"></i>
                                            Choose Services
                                        </li>
                                    </ul>
                                </div>
                                <div class="help-inner-right">
                                    <ul>
                                        <li>
                                            <i class="flaticon-checkmark"></i>
                                            Quick Reply
                                        </li>
                                        <li>
                                            <i class="flaticon-checkmark"></i>
                                            Best Performances
                                        </li>
                                    </ul>
                                </div>
                                {% comment %} <div class="help-signature">
                                    <img src="{% static 'assets/img/home-one/4.png' %}" alt="Signature">
                                </div> {% endcomment %}
                                <h3 class="mt-5" style="color:#B69D74; font-size:40px;">Vakkil Shiva</h3>
                                 <span style="font-weight: bold;">Founder and CEO</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center help-wrap">
                    <div class="col-lg-6">
                        <div class="help-item">
                            <div class="help-right">
                                <h2>Our Attorneys Always Deliver Excellent Service</h2>
                                <p>The skilled and professional attorneys at Vakkil Shiva Law Firm in Chennai are committed to ensuring client success. We go above and beyond to achieve the best outcomes and satisfaction for our clients.</p>                                
                                <div class="help-inner-left">
                                    <ul>
                                        <li>
                                            <i class="flaticon-checkmark"></i>
                                            On Time Response
                                        </li>
                                        <li>
                                            <i class="flaticon-checkmark"></i>
                                            Legal Way
                                        </li>
                                    </ul>
                                </div>
                                <div class="help-inner-right">
                                    <ul>
                                        <li>
                                            <i class="flaticon-checkmark"></i>
                                            Legal Services
                                        </li>
                                        <li>
                                            <i class="flaticon-checkmark"></i>
                                            Honest Work
                                        </li>
                                    </ul>
                                </div>
                                <a class="cmn-btn" href="{% url 'practice' %}">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="help-item help-left">
                            <img src="{% static 'assets/img/home-two/6.jpg' %}" alt="Help">
                        </div>
                    </div>
                </div>
                <div class="help-shape">
                    <img src="{% static 'assets/img/home-one/6.png' %}" alt="Shape">
                </div>
            </div>
        </div>
        <!-- End Help -->

        <!-- Expertise -->
        <section class="expertise-area expertise-area-two pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span>OUR EXPERTISE</span>
                    <h2>Law Firm Devoted To Our Clients</h2>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                       <div class="expertise-item">
                            <ul>
                                <li class="wow fadeInUp" data-wow-delay=".3s">
                                    <div class="expertise-icon">
                                        <i class="flaticon-experience"></i>
                                        <img src="{% static 'assets/img/home-one/11.png' %}" alt="Shape">
                                    </div>
                                    <h3>Experience</h3>
                                    <p>The team at Vakkil Shiva Law Firm in Chennai is highly skilled, understands client needs, and is dedicated to helping them achieve their goals.</p>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay=".4s">
                                    <div class="expertise-icon">
                                        <i class="flaticon-lawyer"></i>
                                        <img src="{% static 'assets/img/home-one/11.png' %}" alt="Shape">
                                    </div>
                                    <h3>Skilled Attorney</h3>
                                    <p>The attorneys at Vakkil Shiva Law Firm in Chennai are innovative and knowledgeable, offering clients tailored solutions to achieve success.</p>                                    
                                </li>
                                <li class="wow fadeInUp" data-wow-delay=".5s">
                                    <div class="expertise-icon">
                                        <i class="flaticon-balance"></i>
                                        <img src="{% static 'assets/img/home-one/11.png' %}" alt="Shape">
                                    </div>
                                    <h3>Legal Process</h3>
                                    <p>At Vakkil Shiva Law Firm in Chennai, we handle all legal paperwork meticulously, ensuring every step is compliant with the law to achieve the best results.</p>

                                </li>
                            </ul>
                       </div>
                    </div>
                    <div class="col-lg-6">
                       <div class="expertise-item">
                            <ul>
                                <li class="wow fadeInUp" data-wow-delay=".3s">
                                    <div class="expertise-icon">
                                        <i class="flaticon-money-bag"></i>
                                        <img src="{% static 'assets/img/home-one/11.png' %}" alt="Shape">
                                    </div>
                                    <h3>Affordable Services</h3>
                                    <p>The team at Vakkil Shiva Law Firm in Chennai is highly skilled, understands client needs, and provides effective legal solutions at a reasonable cost.</p>                                    
                                </li>
                                <li class="wow fadeInUp" data-wow-delay=".4s">
                                    <div class="expertise-icon">
                                        <i class="flaticon-time"></i>
                                        <img src="{% static 'assets/img/home-one/11.png' %}" alt="Shape">
                                    </div>
                                    <h3>Outstanding Performance</h3>
                                    <p>The attorneys at Vakkil Shiva Law Firm in Chennai are creative and knowledgeable, offering clients innovative strategies to achieve success.</p>                                    
                                </li>
                                <li class="wow fadeInUp" data-wow-delay=".5s">
                                    <div class="expertise-icon">
                                        <i class="flaticon-conversation"></i>
                                        <img src="{% static 'assets/img/home-one/11.png' %}" alt="Shape">
                                    </div>
                                    <h3>Quick Service</h3>
                                    <p>At Vakkil Shiva Law Firm in Chennai, we efficiently handle all legal paperwork, ensuring a fast and lawful process to meet client needs promptly.</p>
                                </li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Expertise -->

        <!-- About -->
        <div class="about-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="about-item">
                            {% comment %} <div class="about-video-wrap">
                                <div class="about-video">
                                    <img src="{% static 'assets/img/about/2.jpg' %}" alt="About">
                                </div>
                                <a href="https://youtu.be/07d2dXHYb94" class="popup-youtube">
                                    <i class="icofont-ui-play"></i>
                                </a>
                            </div> {% endcomment %}
                            <div class="about-content" style="text-align: justify;">
                                <h2>Our skills makes us famous</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-item">
                            <div class="about-information">
                                <h2><span>21 feb 1998,</span> We started our law firm</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            <div class="about-information">
                                <h2><span>10 March 2000,</span> We started our law firm</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            <div class="about-information">
                                <h2><span>9 Nov 2000,</span> We started our law firm</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            <div class="about-information">
                                <h2><span>25 Jan 2010,</span> We started our law firm</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About -->

{% endblock content %} 