{% extends 'base/base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block meta %} {% endblock %}
{% block content %} 
        <!-- Preloader -->
        {% comment %} <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- End Preloader -->

        <!-- Navbar -->
        {% include 'inc/navbar.html' %}
        <!-- End Navbar -->

        <!-- Page Title -->
        <div class="page-title-area title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Attorney Details</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Attorney Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->
        <h1>{{member}}</h1>
        <!-- Attorney Details -->
        <div class="attorney-details pt-100 pb-70">
            <div class="container">
                <div class="row align-items-start justify-content-center">
                    <div class="col-lg-5">
                        <div class="attor-details-item">
                            <img src="{{ attorney.image.url }}" alt="Details">
                            <div class="attor-details-left">
                                <div class="attor-social">
                                    <ul>
                                        {% if attorney.facebook %}
                                        <li>
                                            <a href="{{ attorney.facebook }}" target="_blank">
                                                <i class="icofont-facebook"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if attorney.instagram %}
                                        <li>
                                            <a href="{{ attorney.instagram }}" target="_blank">
                                                <i class="icofont-instagram"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if attorney.twitter %}
                                        <li>
                                            <a href="{{ attorney.twitter }}" target="_blank">
                                                <i class="icofont-twitter"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if attorney.linkedin %}
                                        <li>
                                            <a href="{{ attorney.linkedin }}" target="_blank">
                                                <i class="icofont-linkedin"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="attor-social-details">
                                    <h3>Contact info</h3>
                                    <ul>
                                        <li>
                                            <i class="flaticon-call"></i>
                                            <a href="tel:+07554332322">
                                                Call : {{ attorney.mobile }}
                                            </a>
                                        </li>
                                        <li>
                                            <i class="flaticon-email"></i>
                                            <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#c5ada0a9a9aa85a9bcbfaaeba6aaa8">
                                                <span class="__cf_email__" data-cfemail="4028252c2c2f002c393a2f6e232f2d">{{ attorney.email }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <i class="flaticon-pin"></i>
                                            4th Floor, 408 No Chamber
                                        </li>
                                    </ul>
                                </div>
                                <div class="attor-work">
                                    <h3>Working hours</h3>
                                    <div class="attor-work-left" style="color: black !important;">
                                        {{ attorney.working|safe }}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="attor-prev">
                                <ul>
                                    <li>
                                        <a href="#">Previous</a>
                                    </li>
                                    <li>
                                        <a href="#">Next</a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="attor-details-item">
                            <div class="attor-details-right">
                                <div class="attor-details-name">
                                    <h2>{{attorney.name}}</h2>
                                    <span>{{attorney.consultant}}</span>
                                    <p>Bachelor of Laws in LL.B. (Hons) in the United Kingdom</p>
                                </div>
                                <div class="attor-details-things" style="color: black !important;">
                                    <h3>Biography</h3>
                                    {{attorney.biography|safe}}
                                </div>
                                <div class="attor-details-things">
                                    <h3>Education</h3>
                                    {{attorney.education|safe}}
                                </div>
                                <div class="attor-details-things">
                                    <h3>Research</h3>
                                    {{attorney.research|safe}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Attorney Details -->

        <!-- Contact Form -->
        <div class="contact-form contact-form-two pb-100">
            <div class="container">
                <div class="contact-wrap">
                    <form id="contactForm" class="">
                        <h2>Get Appointment</h2>
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Full Name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
    
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
    
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Your Phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
    
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
    
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Case Description"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
    
                            <div class="col-md-12 col-lg-12">
                                <div class="text-center">
                                    <button type="submit" class="contact-btn">Submit Case</button>
                                </div>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Contact Form -->

        <!-- Team -->
        <section class="team-area team-area-two mt-5">
            <!-- <div class="container">
                <div class="section-title text-left">
                    <h2>Our More Expert Attorneys</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-3">
                        <div class="team-item wow fadeInUp" data-wow-delay=".3s">
                            <img src="assets/img/home-one/team/1.jpg" alt="Team">
                            <div class="team-inner">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" target="_blank">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="attorney-details.html">Attor. Jerry Hudson</a>
                                </h3>
                                <span>Family Consultant</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="team-item wow fadeInUp" data-wow-delay=".4s">
                            <img src="assets/img/home-one/team/2.jpg" alt="Team">
                            <div class="team-inner">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" target="_blank">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="attorney-details.html">Attor. Juho Hudson</a>
                                </h3>
                                <span>Criminal Consultant</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="team-item wow fadeInUp" data-wow-delay=".5s">
                            <img src="assets/img/home-one/team/3.jpg" alt="Team">
                            <div class="team-inner">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" target="_blank">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="attorney-details.html">Attor. Sarah Se</a>
                                </h3>
                                <span>Divorce Consultant</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="team-item wow fadeInUp" data-wow-delay=".6s">
                            <img src="assets/img/home-one/team/4.jpg" alt="Team">
                            <div class="team-inner">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" target="_blank">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                                <h3>
                                    <a href="attorney-details.html">Attor. Aikin Ward</a>
                                </h3>
                                <span>Business Consultant</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>
        <!-- End Team -->

{% endblock content %}