
{% extends 'base/base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block meta %} {% endblock %}
{% block content %} 

{% include 'inc/navbar.html' %}
        <!-- Page Title -->
        <div class="page-title-area title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Blog Details</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Blog Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Blog Details -->
        <div class="blog-details-area pt-100 pb-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="blog-details-item">
                            <div class="blog-details-img">
                                <img src="{{ blog.blog_img.url }}" alt="{{ blog.blog_title }}">
                                <h2>{{ blog.blog_title }}</h2>
                                <ul>
                                    <li>
                                        <i class="icofont-calendar"></i>
                                        {{ blog.blog_date }}
                                    </li>
                                </ul>
                                <p>{{ blog.blog_content }}</p>
                            </div>
                            <div class="blog-details-social">
                                <ul>
                                    <li>
                                        <span>Share on:</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            {% comment %} <div class="blog-details-nav">
                                <div class="nav-prev">
                                    <a href="#">Previous</a>
                                </div>
                                <div class="nav-next">
                                    <a href="#">Next</a>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <div class="blog-details-contact">
                                <h2>Drop Your Comment</h2>
                                <div class="contact-form">
                                    <form>
                                        <div class="contact-wrap">
                                            <div class="form-group">
                                                <input type="text" name="name" id="name" class="form-control" required placeholder="Your Full Name">
                                            </div>
                    
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                                            </div>
                    
                                            <div class="form-group">
                                                <select class="form-control wide">
                                                    <option>Case Category</option>
                                                    <option>Another option</option>
                                                    <option>A option</option>
                                                    <option>Potato</option>
                                                </select>	
                                            </div>
                    
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="8" required  placeholder="Case Description"></textarea>
                                            </div>
                    
                                            <div class="text-left">
                                                <button type="submit" class="contact-btn">Post A Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="blog-details-item">
                            <div class="blog-details-category">
                                <h3>Category</h3>
                                <ul>
                                    <li>
                                        <a href="{% url "practice-criminal-law" %}">
                                            Criminal Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-cyber-law" %}">
                                            Civil Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-education-law" %}">
                                            Education Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-family-law" %}">
                                            Family Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-cyber-law" %}">
                                            Cyber Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="blog-details-search">
                                {% comment %} <div class="search-area">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button type="submit" class="btn blog-details-btn">
                                        <i class="icofont-search-2"></i>
                                    </button>
                                </div> {% endcomment %}
                                <h3>Recent Blogs</h3>
                                <ul>
                                    {% for recent_blog in recent_blogs %}
                                    <li>
                                        <img src="{{ recent_blog.blog_img.url }}" alt="{{ recent_blog.blog_title }}" style="height: 100px; width: 100px;">
                                        <div class="blog-details-recent">
                                            <h4>
                                                <a href="{% url 'blog-details' recent_blog.id %}">
                                                    {{ recent_blog.blog_title|truncatewords:8 }}
                                                </a>
                                            </h4>
                                            <ul>
                                              
                                                <li>
                                                    <i class="icofont-calendar"></i>
                                                    {{ recent_blog.blog_date }}
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% comment %} <div class="blog-details-tags">
                                <h3>Tags</h3>
                                <ul>
                                    <li>
                                        <a href="blog-details.html">Government</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Humanities</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Justice</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Social</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Virtue</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Rape</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Criminal</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Political</a>
                                    </li>
                                </ul>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Details -->

        <!-- Blog -->
        {% comment %} <section class="blog-area blog-area-three">
            <div class="container">
                <div class="section-title text-left">
                    <h2>Related Blogs</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="blog-item wow fadeInUp" data-wow-delay=".3s">
                            <a href="blog-details.html">
                                <img src="assets/img/home-one/blog/1.jpg" alt="Blog">
                            </a>
                            <div class="blog-inner">
                                <span>Rights Case</span>
                                <h3>
                                    <a href="blog-details.html">Justice May For You If You Are Innocent</a>
                                </h3>
                                <ul>
                                    <li>
                                        <i class="icofont-calendar"></i>
                                        20 Feb 2024
                                    </li>
                                    <li>
                                        <i class="icofont-user-alt-7"></i>
                                        <a href="#">John Doe</a>
                                    </li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                                <a class="blog-link" href="blog-details.html">
                                    Read More
                                    <i class="icofont-simple-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="blog-item wow fadeInUp" data-wow-delay=".4s">
                            <a href="blog-details.html">
                                <img src="assets/img/home-one/blog/2.jpg" alt="Blog">
                            </a>
                            <div class="blog-inner">
                                <span>Business Case</span>
                                <h3>
                                    <a href="blog-details.html">By Whom Your Business Is Being Loss?</a>
                                </h3>
                                <ul>
                                    <li>
                                        <i class="icofont-calendar"></i>
                                        20 Feb 2024
                                    </li>
                                    <li>
                                        <i class="icofont-user-alt-7"></i>
                                        <a href="#">John Doe</a>
                                    </li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                                <a class="blog-link" href="blog-details.html">
                                    Read More
                                    <i class="icofont-simple-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6   col-lg-4">
                        <div class="blog-item wow fadeInUp" data-wow-delay=".5s">
                            <a href="blog-details.html">
                                <img src="assets/img/home-one/blog/3.jpg" alt="Blog">
                            </a>
                            <div class="blog-inner">
                                <span>Criminal Case</span>
                                <h3>
                                    <a href="blog-details.html">Who Can The Victim A Sue After A Car Accident?</a>
                                </h3>
                                <ul>
                                    <li>
                                        <i class="icofont-calendar"></i>
                                        20 Feb 2024
                                    </li>
                                    <li>
                                        <i class="icofont-user-alt-7"></i>
                                        <a href="#">John Doe</a>
                                    </li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                                <a class="blog-link" href="blog-details.html">
                                    Read More
                                    <i class="icofont-simple-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- End Blog -->

        {% endblock content %}