{% extends 'base/base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block meta %} {% endblock %}
{% block content %} 

{% include 'inc/navbar.html' %}
<!-- End Navbar -->

        <!-- Page Title -->
        <div class="page-title-area title-img-one ">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Blog</h2>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->



    <section class="blog-area blog-area-three mt-5">
        <div class="container">
          <div class="row justify-content-center">
            {% for blog in page_obj %}
            <div class="col-sm-6 col-lg-4">
              <div class="blog-item">
                <a href="{% url 'blog-details' blog.id %}">
                  <img src="{{ blog.blog_img.url }}" alt="{{ blog.blog_title }}">
                </a>
                <div class="blog-inner">
                  <span>{{ blog.blog_category }}</span>
                  <h3>
                    <a href="{% url 'blog-details' blog.id %}">{{ blog.blog_title| truncatechars:35 }}</a>
                  </h3>
                  <ul>
                    <li>
                      <i class="icofont-calendar"></i>
                      {{ blog.blog_date }}
                    </li>
                  </ul>
                  <p>{{ blog.blog_content|truncatewords:20 }}</p>
                  <a class="blog-link" href="{% url 'blog-details' blog.id %}">
                    Read More
                    <i class="icofont-simple-right"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      
          
              <!-- Pagination -->
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
          
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active">
                  <span class="page-link">{{ num }}</span>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}
          
                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </section>
             
 {% endblock content %}