
{% extends 'base/base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block meta %} {% endblock %}
{% block content %} 
        <!-- Preloader -->
        {% comment %} <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- End Preloader -->

<!-- Navbar -->
{% include 'inc/navbar.html' %}
<!-- End Navbar -->


        <!-- Page Title -->
        <div class="page-title-area page-title-area-two title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Contact Us</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Contact Form -->
        <div class="contact-form contact-form-four pb-100">
            <!-- Location -->
            <div class="loaction-area">
                <div class="container">
                    <div class="row location-bg">
                        <div class="col-sm-6 col-lg-4">
                            <div class="location-item">
                                <div class="location-icon">
                                    <i class="flaticon-pin"></i>
                                </div>
                                <h3>Location</h3>
                                <ul>
                                    <li> 18c, First Floor ,Albert theatre road, Opposite to Egmore Railway Station ,Chennai-600008</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="location-item">
                                <div class="location-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <h3>Phone</h3>
                                <ul>
                                    <li>
                                        <a href="tel:+0755543332322">+ 91760 44406</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6   col-lg-4">
                            <div class="location-item">
                                <div class="location-icon">
                                    <i class="flaticon-email"></i>
                                </div>
                                <h3>Email</h3>
                                <ul>
                                    <li>
                                        {% comment %} <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#fa929f969695ba96838095d4999597"><span class="__cf_email__" data-cfemail="0b636e6767644b6772716425686466">[email&#160;protected]</span></a> {% endcomment %}
                                        <a href="mailto:vakkilshiva@gmail.com">vakkilshiva@gmail.com</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Location -->

            <div class="container-fluid">
                <form id="contactForm" method="post">
                    {% csrf_token %}
                    <div class="row contact-wrap">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Full Name">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Your Phone">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Subject">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Case Description"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check agree-label">
                                <input
                                    name="gridCheck"
                                    value="I agree to the terms and privacy policy."
                                    class="form-check-input"
                                    type="checkbox"
                                    id="gridCheck"
                                    required
                                >
                                <label class="form-check-label" for="gridCheck">
                                    Accept <a href="terms-condition.html">Terms & Conditions</a> And <a href="privacy-policy.html">Privacy Policy.</a>
                                </label>
                                <div class="help-block with-errors gridCheck-error"></div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12">
                            <div class="text-center">
                                <button type="submit" class="contact-btn">Submit Case</button>
                            </div>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
        <!-- End Contact Form -->

        <!-- Start Map Area -->
		<div class="map-area">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3911.6401566799586!2d80.2636389!3d13.0777222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTPCsDA0JzM5LjgiTiA4MMKwMTUnNDkuMSJF!5e1!3m2!1sen!2sin!4v1737366989557!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		<!-- End Map Area -->
{% endblock content %} 