{% extends 'base/adminbase.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5 mb-4">Admin Login Page</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-12">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Enter your username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}
