{% extends 'base/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css' %}">
{% block title %} {% endblock %}
{% block meta %} {% endblock %}
{% block content %} 
        <!-- Preloader -->
        {% comment %} <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- End Preloader -->
<!-- Navbar -->
{% include 'inc/navbar.html' %}
<!-- End Navbar -->

        <!-- Page Title -->
        <div class="page-title-area title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Practice Details</h2>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>
                                <a href="{% url 'practice' %}">Practice</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Practice Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Practice Details -->
        <div class="practice-details-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="practice-details-item">
                            <div class="practice-details-content">
                                <div class="section-title text-left">
                                    <h2>Civil Law</h2>
                                </div>
                                <!-- Civil Law -->
                                <p>Civil law forms the backbone of justice, addressing disputes between individuals, businesses, or entities. Whether it’s property conflicts, breach of contract, or personal injury, we ensure your rights are protected with clarity and fairness. Our comprehensive approach also connects seamlessly with <a href="{% url "practice-business-law" %}" style="color:#c89f4f;">business law</a> and <a href="{% url "practice-family-law" %}" style="color:#c89f4f;">family law</a> to address intertwined issues effectively.</p>
                                <p>Our expertise includes mediation and litigation to resolve disputes amicably or assertively when needed. Civil matters often overlap with <a href="{% url "practice-real-estate" %}" style="color:#c89f4f;">real estate</a> and <a href="{% url "practice-intellectual-property" %}" style="color:#c89f4f;">intellectual property</a>, and we provide the necessary legal framework for resolution. Count on us for personalized solutions tailored to your unique challenges.</p>
                                <p>From guiding you through intricate legal procedures to ensuring favorable outcomes, we’re here to simplify complexities. We also integrate strategies from <a href="{% url "practice-employment-relations" %}" style="color:#c89f4f;">employment law</a> and <a href="{% url "practice-taxation" %}" style="color:#c89f4f;">taxation</a> to protect your interests comprehensively. Let us shoulder your burdens while you focus on your goals.</p>
                                <p>Dealing with disputes can be stressful, but our expertise ensures a seamless process. Our dedicated team works closely with clients, offering guidance that incorporates elements from <a href="{% url "practice-corporate-insolvency" %}" style="color:#c89f4f;">corporate law</a> and <a href="{% url "practice-environment" %}" style="color:#c89f4f;">environment law</a>. Trust us to represent your case with diligence and professionalism.</p>
                                <p>We bring clarity to complex legal scenarios, ensuring justice for individuals and organizations alike. Civil law often overlaps with <a href="{% url "practice-criminal-law" %}" style="color:#c89f4f;">criminal law</a> and <a href="{% url "practice-compliance-bribery" %}" style="color:#c89f4f;">compliance law</a>, and our expertise bridges these gaps effectively. Partner with us for reliable and result-driven legal solutions.</p>  
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="practice-details-item">
                            <div class="blog-details-category">
                                <ul>

                                    
                                    <li>
                                        <a href="{% url "practice-family-law" %}">
                                            Family Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-business-law" %}">
                                            Business Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-education-law" %}">
                                            Education Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-criminal-law" %}">
                                            Criminal Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-cyber-law" %}">
                                            Cyber Law
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-admiralty-maritime" %}">
                                            Admiralty and Maritime
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-Antitrust-Competition" %}">
                                            Antitrust & Competition
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'practice-compliance-bribery' %}">
                                            Compliance, Bribery & Anti-corruption
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'practice-corporate-insolvency' %}">
                                            Corporate Insolvency & Restructuring
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-employment-relations" %}">
                                            Employment & Industrial Relations
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                             {% comment %} <div class="practice-details-contact">
                                <h3>Contact Info</h3>
                                <ul>
                                    <li>
                                        <i class="flaticon-call"></i>
                                        <a href="tel:+07554332322">Call : +07 554 332 322</a>
                                    </li>
                                    <li>
                                        <i class="flaticon-email"></i>
                                        <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#b8d0ddd4d4d7f8d4c1c2d796dbd7d5"><span class="__cf_email__" data-cfemail="3c54595050537c50454653125f5351">[email&#160;protected]</span></a>
                                    </li>
                                    <li>
                                        <i class="flaticon-pin"></i>
                                        4th Floor, 408 No Chamber
                                    </li>
                                </ul>
                            </div> {% endcomment %}
                            {% comment %} <div class="practice-details-brochures">
                                <h3>Brochures</h3>
                                <p>Risus is commodo viverra maecenas accumsan lacus vel facilisis. . Quis is a ipsum suspendisse ultrices gravida</p>
                                <a class="cmn-btn" href="#"><i class="flaticon-download"></i>Download</a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="help-shape">
                <img src="{% static 'assets/img/home-one/6.png' %}" alt="Shape">
            </div>
        </div>
        <!-- End Practice Details -->

{% endblock content %} 