{% extends 'base/base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block meta %} {% endblock %}
{% block content %} 
        <!-- Preloader -->
        {% comment %} <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- End Preloader -->

<!-- Navbar -->
{% include 'inc/navbar.html' %}
<!-- End Navbar -->

        <!-- Page Title -->
        <div class="page-title-area title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Practice Details</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Practice Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Practice Details -->
        <div class="practice-details-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="practice-details-item">
                            <div class="practice-details-content">
                                <div class="section-title text-left">
                                    <h2>Environment</h2>
                                </div>
                                <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <p>Risus commodo viverra maecenas accumsan lacus vel facilisis. . Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                <ul>
                                    <li><span>Retribution –</span> Criminals ought to Be Punished in some way.</li>
                                    <li><span>Deterrence –</span> Individual deterrence is aimed toward the specific offender.</li>
                                    <li><span>Incapacitation – </span> Designed simply to keep criminals away from society.</li>
                                    <li><span>Rehabilitation –</span> Aims at transforming an offender into a valuable member of society.</li>
                                </ul>
                                <p>Risus commodo viverra maecenas accumsan lacus vel facilisis. . Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="practice-details-item">
                            {% include 'inc/practice_quicklinks.html' %}
                            <div class="practice-details-contact">
                                <h3>Contact Info</h3>
                                <ul>
                                    <li>
                                        <i class="flaticon-call"></i>
                                        <a href="tel:+07554332322">Call : +07 554 332 322</a>
                                    </li>
                                    <li>
                                        <i class="flaticon-email"></i>
                                        <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#b8d0ddd4d4d7f8d4c1c2d796dbd7d5"><span class="__cf_email__" data-cfemail="3c54595050537c50454653125f5351">[email&#160;protected]</span></a>
                                    </li>
                                    <li>
                                        <i class="flaticon-pin"></i>
                                        4th Floor, 408 No Chamber
                                    </li>
                                </ul>
                            </div>
                            <div class="practice-details-brochures">
                                <h3>Brochures</h3>
                                <p>Risus is commodo viverra maecenas accumsan lacus vel facilisis. . Quis is a ipsum suspendisse ultrices gravida</p>
                                <a class="cmn-btn" href="#"><i class="flaticon-download"></i>Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="help-shape">
                <img src="assets/img/home-one/6.png" alt="Shape">
            </div>
        </div>
        <!-- End Practice Details -->

{% endblock content %} 