{% extends 'base/base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block meta %} {% endblock %}
{% block content %} 
        <!-- Preloader -->
        {% comment %} <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- End Preloader -->

<!-- Navbar -->
{% include 'inc/navbar.html' %}
<!-- End Navbar -->

        <!-- Page Title -->
        <div class="page-title-area title-img-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="page-title-text">
                        <h2>Practice Details</h2>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>
                                <a href="{% url 'practice' %}">Practice</a>
                            </li>
                            <li>
                                <i class="icofont-simple-right"></i>
                            </li>
                            <li>Practice Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Practice Details -->
        <div class="practice-details-area pt-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="practice-details-item">
                            <div class="practice-details-content">
                                <div class="section-title text-left">
                                    <h2>Technology, Media & Telecommunication</h2>
                                </div>
                                <!-- Technology, Media & Telecommunication -->
                                <p>In a rapidly evolving digital landscape, technology, media, and telecommunication laws are critical to innovation and protection. Our team provides expert guidance on navigating these dynamic sectors. These matters frequently intersect with <a href="{% url "practice-intellectual-property" %}" style="color:#c89f4f;">intellectual property law</a> and <a href="{% url "practice-cyber-law" %}" style="color:#c89f4f;">cyber law</a>, and we address them comprehensively.</p>
                                <p>We assist businesses in protecting digital assets, ensuring compliance with regulations, and resolving disputes. Often, these cases involve <a href="{% url "practice-corporate-insolvency" %}" style="color:#c89f4f;">corporate law</a> and <a href="{% url "practice-employment-relations" %}" style="color:#c89f4f;">employment law</a>, and we provide seamless solutions tailored to your needs.</p>
                                <p>Our expertise includes content licensing, data protection, and telecommunication infrastructure. These efforts often tie into <a href="{% url "practice-regulatory-affairs" %}" style="color:#c89f4f;">regulatory affairs</a> and <a href="{% url "practice-taxation" %}" style="color:#c89f4f;">taxation</a>, ensuring compliance across jurisdictions.</p>
                                <p>From startups to global enterprises, we offer solutions that protect innovation and drive growth. We integrate strategies from <a href="{% url "practice-real-estate" %}" style="color:#c89f4f;">real estate law</a> and <a href="{% url "practice-project-finance" %}" style="color:#c89f4f;">project finance</a> for robust support in expanding operations.</p>
                                <p>Stay ahead in a competitive market with our proactive and results-driven legal support. Our team collaborates with <a href="{% url "practice-foreign-investment" %}" style="color:#c89f4f;">foreign investment</a> and <a href="{% url "practice-compliance-bribery" %}" style="color:#c89f4f;">compliance law</a> experts to address industry-specific challenges and opportunities effectively.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="practice-details-item">
                            <div class="blog-details-category">
                                <ul>
                                    
                                    <li>
                                        <a href="{% url 'practice-aerospace-defense' %}">
                                            Aerospace and Defense
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'practice-banking-finance' %}">
                                            Banking & Finance
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-corporate-advisory" %}">
                                            Corporate Commercial Advisory
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-dispute-resolution" %}">
                                            Dispute Resolution
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-environment" %}">
                                            Environment
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-insurance" %}">
                                            Insurance & Reinsurance
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-intellectual-property" %}">
                                            Intellectual Property
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-mergers-acquisitions" %}">
                                            Mergers & Acquisitions
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-mining-resources" %}">
                                            Mining & Resources
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url "practice-private-equity" %}">
                                            Private Equity, Venture Capital & Funds
                                            <i class="icofont-arrow-right"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            {% comment %} <div class="practice-details-contact">
                                <h3>Contact Info</h3>
                                <ul>
                                    <li>
                                        <i class="flaticon-call"></i>
                                        <a href="tel:+07554332322">Call : +07 554 332 322</a>
                                    </li>
                                    <li>
                                        <i class="flaticon-email"></i>
                                        <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#b8d0ddd4d4d7f8d4c1c2d796dbd7d5"><span class="__cf_email__" data-cfemail="3c54595050537c50454653125f5351">[email&#160;protected]</span></a>
                                    </li>
                                    <li>
                                        <i class="flaticon-pin"></i>
                                        4th Floor, 408 No Chamber
                                    </li>
                                </ul>
                            </div>
                            <div class="practice-details-brochures">
                                <h3>Brochures</h3>
                                <p>Risus is commodo viverra maecenas accumsan lacus vel facilisis. . Quis is a ipsum suspendisse ultrices gravida</p>
                                <a class="cmn-btn" href="#"><i class="flaticon-download"></i>Download</a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="help-shape">
                <img src="{% static 'assets/img/home-one/6.png' %}" alt="Shape">
            </div>
        </div>
        <!-- End Practice Details -->

{% endblock content %} 