<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    vakkil Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create-team-member' %}">
                    create team menber
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Settings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Reports
                </a>
            </li>
        </ul>
    </div>
</nav>