{% load static %}
<footer>
            
    <!-- Newsletter -->
    <div class="newsletter-area">
        <div class="container">
            <img src="{% static 'assets/img/home-one/newsletter.png' %}" alt="Shape">
            <h2>Subscribe Newsletter</h2>
            <form class="newsletter-form" data-toggle="validator">
                <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">

                <button class="btn contact-btn" type="submit">
                    Subscribe
                </button>

                <div id="validator-newsletter" class="form-result"></div>
            </form>
        </div>
    </div> 
    <!-- End Newsletter -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4 ">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a href="#">
                            <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                        </a>
                        <p>Our Squad of Attorneys are always here to provide you the best and efficient service. Still, if you want to know more about us and our firm, you can connect with us</p>
                        <ul>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class="icofont-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-service">
                        <h3>Services</h3>
                        <ul>
                            <li>
                                <a href="{% url "practice-family-law" %}">
                                    <i class="icofont-simple-right"></i>
                                    Family Law
                                </a>
                            </li>
                            <li>
                                <a href="{% url "practice-education-law" %}">
                                    <i class="icofont-simple-right"></i>
                                    Education Law
                                </a>
                            </li>
                            <li>
                                <a href="{% url "practice-civil-law" %}">
                                    <i class="icofont-simple-right"></i>
                                    Civil Law
                                </a>
                            </li>
                            <li>
                                <a href="{% url "practice-criminal-law" %}">
                                    <i class="icofont-simple-right"></i>
                                    Criminal Law
                                </a>
                            </li>
                            <li>
                                <a href="{% url "practice-business-law" %}">
                                    <i class="icofont-simple-right"></i>
                                    Business Law
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-service">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>
                                <a href="{% url "index" %}">
                                    <i class="icofont-simple-right"></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="{% url "about" %}">
                                    <i class="icofont-simple-right"></i>
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="icofont-simple-right"></i>
                                    Blogs
                                </a>
                            </li>
                            <li>
                                <a href="{% url "attorney" %}">
                                    <i class="icofont-simple-right"></i>
                                    Team
                                </a>
                            </li>
                            <li>
                                <a href="{% url "contact" %}">
                                    <i class="icofont-simple-right"></i>
                                   Contact 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-find">
                        <h3>Find Us</h3>
                        <ul>
                            
                            <li>
                                <i class="icofont-location-pin"></i>
                                18c, First Floor ,Albert theatre road, Opposite to Egmore Railway Station ,Chennai-600008
                                
                            </li>
                            <li>
                                <i class="icofont-ui-call"></i>
                                <a href="tel:+880123456789">+ 91760 44406</a>
                            </li>
                            <li>
                                <i class="icofont-at"></i>
                                {% comment %} <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#0e666b6262614e62777461206d6163"><span class="__cf_email__" data-cfemail="3a525f5656557a5643405514595557">vakkilshiva@gmail.com</span></a> {% endcomment %}
                                <a href="mailto:vakkilshiva@gmail.com">vakkilshiva@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="row justify-content-center">
                <div class="col-sm-7 col-lg-6">
                    <div class="copyright-item">
                        {% comment %} <p>© Vakkil Shiva is Proudly Owned by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p> {% endcomment %}
                    </div>
                </div>
                <div class="col-sm-5 col-lg-6">
                    <div class="copyright-item copyright-right">
                        <a href="terms-conditions.html" target="_blank">Terms & Conditions</a> <span>-</span> 
                        <a href="privacy-policy.html" target="_blank">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>