<div class="blog-details-category">
    <ul>
        <li>
            <a href="{% url 'practice-criminal-law' %}">
                Criminal Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'practice-civil-law' %}">
                Civil Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="practice-details.html">
                Education Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="practice-details.html">
                Family Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="practice-details.html">
                Cyber Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="practice-details.html">
                Cyber Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="practice-details.html">
                Cyber Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="practice-details.html">
                Cyber Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="practice-details.html">
                Cyber Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
        <li>
            <a href="practice-details.html">
                Cyber Law
                <i class="icofont-arrow-right"></i>
            </a>
        </li>
      
    </ul>
</div>